attrs==21.2.0
click==8.0.1
et-xmlfile==1.1.0
iniconfig==1.1.1
numpy==1.21.0
openpyxl==3.0.7
packaging==21.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
ruamel.yaml==0.17.10
ruamel.yaml.clib==0.2.4
toml==0.10.2
